/Curiosity_PIC16F15344_TestDrv.X/build/default/
/Curiosity_PIC16F15344_TestDrv.X/dist/default/
/Curiosity_-_PIC16F15344.X/nbproject/private/
/Curiosity_-_PIC16F15344.X/build/free/
/Curiosity_-_PIC16F15344.X/dist/free/
/Curiosity_PIC16F1619_LCD.X/nbproject/private/
/Curiosity_PIC16F1619_LCD.X/build/default/
/Curiosity_PIC16F1619_LCD.X/dist/default/
/Curiosity_I2C_Peripherals.X/build/
/Curiosity_I2C_Peripherals.X/dist/
/Snap_PIC16LF18855_I2C_Periph.X/build/
/Snap_PIC16LF18855_I2C_Periph.X/dist/